Importing the Libraries

In [15]:
import pandas as pd

Loading the unknown dataset and assigning user_id as index

In [25]:
r='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users=pd.read_csv(r,delimiter='|')
users=users.set_index('user_id',drop=True)

Printing First 25 entries

In [26]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

Printing Last 10 entries

In [27]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

Number of Observations

In [30]:
users.shape[0]

943

Number of Columns

In [31]:
users.shape[1]

4

Number of Columns

In [33]:
len(list(users.columns))

4

Column names

In [34]:
list(users.columns)

['age', 'gender', 'occupation', 'zip_code']

Index

In [61]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

Printing data type of each column

In [36]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None

Printing only occupation

In [40]:
users.occupation

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

Different Occupations

In [42]:
len(users.occupation.unique())

21

Most Frequent Occupation

In [43]:
users.occupation.mode()

0    student
dtype: object

Summarazing the dataframe

In [45]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

Summary of all columns

In [55]:
users.age.describe()
users[["gender","occupation","zip_code"]].describe()

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64
       gender occupation zip_code
count     943        943      943
unique      2         21      795
top         M    student    55414
freq      670        196        9

Summary of Occupation column

In [46]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

Mean of ages

In [56]:
users.age.mean()

34.05196182396607

Age with least occurence

In [60]:
users.age.value_counts().idxmin()

7

Lambda Function string to number

In [66]:
s=lambda a: users.to_numeric(a)